<div class="flex justify-center items-center w-full h-full">
  <div class="w-2/4 h-auto">
    <div class="borde-personalizated rounded-t-lg bg-green-700 min-h-7 w-full flex items-center justify-between">
      <ul class="flex gap-2 items-center h-full mx-5">
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" class="w-3 h-3" viewBox="0 0 24 24">
            <path fill="#ffffff" d="M12 2A10 10 0 0 0 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10A10 10 0 0 0 12 2"/>
          </svg>
        </li>
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" class="w-3 h-3" viewBox="0 0 24 24">
            <path fill="#ffffff" d="M12 2A10 10 0 0 0 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10A10 10 0 0 0 12 2"/>
          </svg>
        </li>
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" class="w-3 h-3" viewBox="0 0 24 24">
            <path fill="#ffffff" d="M12 2A10 10 0 0 0 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10A10 10 0 0 0 12 2"/>
          </svg>
        </li>
      </ul>

      <ul class="flex justify-center items-center mx-2">
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" viewBox="0 0 24 24">
            <path fill="none" stroke="#ffffff" stroke-linecap="round" stroke-width="2" d="M20 20L4 4m16 0L4 20"/>
          </svg>
        </li>
      </ul>
    </div>
    <div class="rounded-b-lg borde-personalizated bg-white">
      <div class="my-5">
        <p class="text-center font-especial font-semibold text-7xl text-slate-900">404</p>
        <p class="text-center font-especial font-semibold text-4xl -mt-4">Page Not Found</p>
        <p class="text-center font-especial font-semibold -mt-4">Make sure the URL is correct</p>
        <p class="font-bold text-center text-8xl mt-7">
        <div class="flex justify-center">
          <img src="assets/404image.png" alt="Not found" class="h-auto w-2/6">
        </div>
      </div>
    </div>
  </div>
</div>
