@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.font-especial{
  font-family: "Montserrat", sans-serif;
  margin: 0 !important;
}

.borde-personalizated {
  border: 1px solid #26233dd7;
  box-shadow: 0px 0px 7px #6b6767b6;
}
